*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

	font-family: 'Roboto', sans-serif;
	
}
header{
	width: 100%;
	background-color: #343a40;
}
.menu_bar{
	display: none;
}
header nav{
	width: 90%
	margin-top:.3em;
	margin-left: 1em;
}
header nav ul{
	overflow: hidden;
	list-style: none;
	cursor:pointer;
	margin-right: 0;
}
header nav ul li{
	padding: 1em;
	display: inline-block;
	color: white;
	float: left;
}
header nav ul li:hover{
	color: gray;
}
header nav ul li:first-child{
	padding-right: 30em;
	font-size: 1.2em;
}
.firstPic{
	background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header.jpg) no-repeat;
	background-position: 50% 0;
	padding: 13em;
	background-size: cover;
	color: white;
	text-align: center;
	z-index: 1;	
}

.firstPic h1{
	font-size: 70px;
}
.firstPic h2{
	font-weight: 100;
	font-size: 30px;
	
}
.aboutUs{
	margin: 2em 4em;
	padding: 2em;

}
.aboutUs h2{
	font-weight: 100;
	font-size: 2.8em;
}
.aboutUs h5{
	font-weight: 100;
	padding-top: 1em;
	padding-bottom: 1em;
}
.aboutUs button{
	border: none;
	padding: .5em;
	background-color: #0f3764;
	color : white;
	cursor: pointer;
	border-radius: 5%;
}
.aboutUs button h5{
	display: inline-block;
	letter-spacing: .05em;
	
}
.aboutUs p{
	padding: 1em 3em 1em 0;
    font-weight: 100;
    text-align: justify;
    line-height: 1.7em;
}
.info p{
	padding: .3em;
}
.info a{
	text-decoration: none;
	color:  #0f3764 ;
}
.services{
	padding: 2em;
	font-weight: 100;
	/*outline: 2px solid red;*/
}
.services p{
	line-height: 1.7em;
}
.services img {
	width: 100%;
	align-content: center;
	margin: 0s;
}
.services button{
	margin-top: .5em;
	border: none;
	padding: .5em;
	background-color: #0f3764;
	color : white;
	cursor: pointer;
	border-radius: 5%;
	cursor: pointer;
	font-weight: 100;
}
.services button h5{
	display: inline-block;
	cursor: pointer;
	font-weight: 100;
	letter-spacing: .05em;

}
.services h2, .services p, .services button {
	padding-top: .5em;
}

.footPage{
	background-color: #343a40;
	text-align: center;
	color: white;
	padding: 2em;
	font-weight: 100;
}